{% extends 'admin/main.html' %}
  
  {% block content %}

        <div class="flexbox-container">
          <div class="row-1">
            <button class="button button-1"><a id="a1" href="Create%20Lectures.html">Create  Lectures</a></button>       
            <button class="button button-1"><a id="a1" href="lecture_notes.html">Add Lecture Notes</a></button>
            <button class="button button-1"><a id="a1" href="Drop%20Lectures.html">Delete Lectures Notes/Videos</a></button>
            <button class="button button-1"><a id="a1" href="StuEdit.html">Edit Students</a></button>
          </div>  
          <div class="row-2">
            <button class="button button-1"><a id="a1" href="video_lec.html">Add Video Lectures</a></button>
            <button class="button button-1"><a id="a1" href="PurchasesHistory.html">Purchases History</a></button> 
            <button class="button button-1"><a id="a1" href="Student Details & progress.html">Student Details & Progress</a></button>
            <button class="button button-1"><a id="a1" href="CaseStu.html">Upload Case Study Details  </a></button>
          </div>

      </div>

          
  {% endblock content %}
    
   



