{% extends 'admin/main.html' %}
  
  {% block content %}

        <div class="flexbox-container">
          <div class="row-1">
            <button class="button button-1"><a id="a1" href="{% url "v_courses" %}">View Courses</a></button>       
            <button class="button button-1"><a id="a1" href="{% url "addNotes" %}">Add Lecture Notes</a></button>
            <button class="button button-1"><a id="a1" href="{% url "lecnotesvids" %}">View Content</a></button>
            <button class="button button-1"><a id="a1" href="{% url "edit_stud" %}">Edit Students</a></button>
          </div>  
          <div class="row-2">
            <button class="button button-1"><a id="a1" href="#">Add Video Lectures</a></button>
            <button class="button button-1"><a id="a1" href="#">Purchases History</a></button> 
            <button class="button button-1"><a id="a1" href="#">Student Details & Progress</a></button>
            <button class="button button-1"><a id="a1" href="#">Upload Case Study Details  </a></button>
          </div>

      </div>

          
  {% endblock content %}
    
   



