{% load static %}

<!doctype html>
<html lang="en">
<head>
    <title>Admin Dashboard</title>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <!-- style sheets -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static '/css/Admin/style.css' %}">
</head>
<style>
    .card {
        background-color: forestgreen; 
    }
  
    .card-header {
        padding-top: 10px;
    }

    .card-title{
        font-weight: bold;
        font-size: 30px;
    }
  
    #label {
        font-size: medium;
        font-weight: bold; 
        color: black;
    }
    
    #level {
        padding: 5px 5px 5px 5px;
    }
    #course {
        padding: 5px 5px 5px 5px;
    }

</style>
<body>
    {% include 'admin/navbar.html' %}
    <div class="p-4 p-md-5 pt-5" id="content">
        <form method="post" id='indexform' data-courses-url="{% url 'courses_dropdown' %}">
            
            <div class="row">
            <div class="col">
                <div class="col-md">
                    <div class="card text-center text-white mb-2" >
                        <div class="card-header">
                            <i><h5 class="card-title">Level</h5></i>
                        </div>
                        <div class="card-body">
                            <label id='label' for="level">Choose a Level:</label>
                            <select name="level" id="level" class="form-control">
                                <option disabled selected="true">--Select Option--</option>
                                {% for i in levels %}
                                    <option value="{{i.level}}">{{i.level}}</option>
                                {% endfor %}
                           </select>
                        </div>
                    </div>
                </div>
                
                   
            </div>
            <div class="col">
                <div class="col-md">
                    <div class="card text-center text-white mb-2" >
                        <div class="card-header">
                            <i><h5 class="card-title">Course</h5></i>
                        </div>
                        <div class="card-body">
                            <label id='label'>Choose a Course:</label>
                            <select name="courses" id="courses" class="form-control">
                               
                           </select>
                        </div>
                    </div>
                </div>
                
                   
            </div>

        </div>
    </form>        
    <h1>Students</h1>
		
    <div class="table-responsive" style="align-content: center;">          
      <table class="table" id="myTableData">
          <tr style="background-color: cornflowerblue; color: white;">
            <th>CIMA ID</th>
            <th>Name</th>
            <th>&nbsp;</th>
          </tr>
          {% for i in studs %}
              <tr>
                  <td>{{i.Cima_ID}}</td>
                  <td>{{i.name}}</td>
                  <td><a href="">Delete</a></td>
              </tr>
          {% endfor %}
      </table>
    </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script>
        $("#level").change(function()
        {
            var url = $("#indexform").attr("data-courses-url");
            var levelvar = $(this).val();
            
            $.ajax({
                url: url,
                data: {
                    'level': levelvar
                },
                success: function(data){
                    $("#courses").html(data);
                }
            });
        });
    </script>
</body>
</html>

