body
{
    font-family: sans-serif;
    color: #3c3939;
    background-color: #f1f1f1;
}
.profile-card{
    width: 800px;
    box-sizing: border-box;
    margin: auto;
    background: rgb(81, 192, 48);
    box-shadow: 0 4px 10px rgba(0,0,0,0.5);
}
.img-container{
    position: relative;
}
.info{
    color: #4b4fe2;
    margin-right: 16px;
}
