body {
    margin: 0;
    padding: 0;
    background-image: url('https://storage.needpix.com/rsynced_images/green-sidelight-background.jpg');
    font-family: sans-serif;
    background-repeat: no-repeat;
}

.loginbox {
    width: 440px;
    height: 440px;
    background: #ECFFE8;
    color: black;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 70px 30px;
}

.user {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
    opacity: 0.9;
}

h1 {
    margin: 0 0 30px 0;
    padding: 0 0 10px 0;
    border-bottom: 1px solid grey;
    text-align: center;
    font-size: 25px;
    font-family: cosmic sans-serif;
}

.loginbox p {
    margin: 0 0 5px 10px;
    padding: 0;
}


.loginbox input[type="text"], input[type="password"] {
    border: 1px grey solid;
    border-radius: 5px;
    padding: 0 0 0 10px;
    background: #F1FFF2;
    outline: none;
    height: 30px;
    color: #000;
    font-size: 16px;
    margin: 5px 0 20px 10px;
    width: 90%;
}

.loginbox input[type="submit"] {
    border: solid 2px #09A600;
    border-radius: 7px;
    background: #B7FFB5;
    height: 35px;
    color: #000;
    font-size: 17px;
    margin: 5px 0 15px 10px;
    padding: 0;
    width: 93%;
}

.loginbox input[type="submit"]:hover {
    cursor: pointer;
    background: #5EFF38;
}

.loginbox a {
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: #878787;
}

.loginbox a:hover {
    font-weight: bold;
    color: green;
}

#msg {
    opacity: 0;
    color: red;
}