<html>
    
    <head>
       <title>Profile Form </title>
     <link rel="stylesheet" href="{% static 'css/Student/profile.css' %}">
        <link rel="stylesheet" href="{% static 'css/Student/style.css' %}">
        <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"> </script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"> </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script> 
    </head>
    
    <body>
         <div class="wrapper d-flex align-items-stretch" style="background-size: 100%; background-image: url('https://storage.needpix.com/rsynced_images/green-sidelight-background.jpg');">
      <nav id="sidebar">
	  		<h1><a href="index.html" class="logo">E-Learning Dashboard</a></h1>
        <ul class="list-unstyled components mb-5">
          <li>
            <a href="student_dashboard.html"><span class="fa fa-download mr-3"></span> My Courses </a>
          </li>
          <li>
            <a href="#"><span class="fa fa-list-alt mr-3"></span> Case Studies </a>
          </li>
          <li>
            <a href="#"><span class="fa fa-leanpub mr-3"></span> Results </a>
          </li>
          <li>
            <a href="profile.html"><span class="fa fa-user-circle mr-3"></span> Profile </a>
          </li>
          <li>
            <a href="main/general.html"><span class="fa fa-sign-out mr-3"></span> logout </a>
          </li>
        </ul>
          

      </nav>
      <div id="content" class="p-4 p-md-5 pt-5">
      <div class="input-group-prepend">
          <span class="input-group-text">First and last name</span>
        </div>
        <input type="text" aria-label="First name" class="form-control">
        <input type="text" aria-label="Last name" class="form-control">

              <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroup-sizing-default">E-mail address</span>
        </div>
        <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroup-sizing-default">Address</span>
        </div>
        <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
      </div>
 
        <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
      </div>
                      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text">Mobile No</span>
        </div>
        <input type="text" aria-label="First name" class="form-control">
        <input type="text" aria-label="Last name" class="form-control">
              </div>
        </div>
        </div>
    </body>
</html>