{% load static %}
<!doctype html>
<html lang="en">
  <head>
  	<title>Student Dashboard</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!-- style sheets -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">	
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static '/css/Student/style.css' %}">
    <link rel="stylesheet" href="{% static '/css/Student/student_dashboard.css' %}">
  	<link rel="stylesheet" type="text/css" href="{% static '/css/Student/lectures.css' %}"> 
  </head>

  <body>
		
    <div class="wrapper d-flex align-items-stretch" style="background-size: 100%; background-image: url('https://storage.needpix.com/rsynced_images/green-sidelight-background.jpg');">
      {% include 'Student/stdNavbar.html' %}
         <!-- Page Content  -->
      <div id="content" class="p-4 p-md-5 pt-5">
        <h1>My courses</h1>

        <div class="module">
            {% for course in object_list %}
                <div class="course-info">
                    <h3>{{ course.name }}</h3>
                    <p><a href="{% url "student_course_detail" course.id %}">Access contents</a></p>
                </div>
            {% endfor %}
        </div>    
          </div>
		</div>
  </body>
</html>