{% load static %}
<!DOCTYPE html>
<html>
<head>

	<title>Sign Up</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" type="text/css" href="{% static 'general/assets/css/Login page.css' %}">
	
</head>
<body>

<div class="loginbox">
	<img src="{% static 'general/assets/img/avatar.png' %}" class="user">
	<h1> Sign Up</h1>

	<form id="form1" method="POST" action="">
		{% crf_token %}
		{{form.as_p}}
		<!--  <p>Email Address</p>
		<input type="text" name="" placeholder="Enter Your Email Address Here" id="username-input">
		<p>Password</p>
		<input type="password" name="" placeholder="Enter Password Here"  id="password-input1">
		<p>Confirm Password</p>
		<input type="password" name="" placeholder="Enter Password Here Again"  id="password-input2">

		<div id="msg" >Fill above fields</div>
		<input type="submit" id="SignUpBtn" value="Sign Up" onclick="">
		<p>
		<a href="">Already Have an Account? <u>Login Here</u></a></p> -->
	</form>
</div>


<script type="text/javascript">
	const SignUpBtn = document.getElementById("SignUpBtn");
	const usernameInput = document.getElementById("username-input");
	const passwordInput1 = document.getElementById("password-input1");
	const passwordInput2 = document.getElementById("password-input2");
	const msg = document.getElementById("msg");
	SignUpBtn.addEventListener('click',btn);
	
	function btn(e) {
		e.preventDefault();
		if (usernameInput.value.length == 0 || passwordInput1.value.length == 0 || passwordInput2.value.length == 0){
			msg.style.opacity="1";
        	setTimeout(() => msg.style.opacity="0",2000);
		}
	}
</script>
</body>
</html>